body{
    height: 300px;
    width:300px ;
    background-color: #d58ef1;
   
    justify-content: center;
}
#quoteElement{
    
    margin: auto;
    border: 5px solid rgb(250, 250, 250);
    border-radius: 4px;
    padding: 10px;
    font-size: large;
}

#top{
    font-size: medium;
    border: 5px solid black;
    
    padding: 3px;
   
   
    margin: auto;
}